.field-container {
    padding: 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.field-title, .field-content {
    margin: 4px 0;
}

.text-field-input {
    width: 100%;
}
